#ignore all *.exe
*.exe
#ignore debug directory but not the one in current directory,
#and ignore all file of debug directory in current path except *.dll 
#also not ignore the x64 debug
debug/
!/debug/
/debug/*
!debug/*dll
# for x64 debug
!/x64/debug/ 
/x64/debug/*
!/x64/debug/*dll

#ignore release
release/
!/release/
/release/*
!release/*dll

# for x64
!/x64/release/ 
/x64/release/*
!/x64/release/*dll

#sdf file
*.sdf
*.opensdf
#pdb file
*.pdb



